@section  Styles{ 
    <link rel="stylesheet" href="~/css/notfound.css" />
}

@{
    ViewData["Title"] = "404 Not Found";
}

    <div class="container">
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h1>4<span></span>4</h1>
                </div>
                <h2>Oops! We couldn't find the page you were looking for...</h2>
                <p>But fear not, we have dispatched our most elite ninjas in order to get to the bottom of this.</p>
                <a href="@Url.Action("Index", "Home")">Back to homepage</a>
            </div>
        </div>

    </div>