
@{
    ViewData["Title"] = "About";
}

    <div class="row col-sm-12 col-md-12" style="display:block">
        <div class="row col-sm-6 col-md-8">
            <h1 class="cover-heading">About author</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
                <a href="https://www.github.com/brometheuss" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
        </div>
        <div class="row col-sm-3 col-md-4">
            <img src="~/lib/common/emoji.webp" alt="avengers" class="img-fluid"/>
        </div>
    </div>