
@{
    ViewData["Title"] = "About";
}
    <div class="container">
        <div class="row">
            <h1 class="cover-heading">About author</h1>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <p class="lead">Hi, my name is <b>Uros Markov</b> and I'm the author of this web app. At the time of finishing this project, I'm 26 years old. I'm from Belgrade and still a student on Visoka ICT, though we are now an academy, and have joined with other schools to form it.</p>
                <p class="lead">Now, a little something about the project itself. After finishing my exam in ASP.NET, I was under the impression that my graduating project must be built using it, thus increasing my overall knowledge about this technology, and am still under that impression!</p>
                <p class="lead">This project is about a small cinema app called "Cinemaki" (using words 'cinema' and my nickname 'maki', getting cinemaki), pretty clever huh ? Not really, I know, but at the time it seemed like a genius idea. This is my second project using ASP.NET, the first one was a part of the exam and it was much simpler than this one, because the point was to learn something entirely new back then. Now, with all the knowledge I gathered while writing this code, I think my next project will be the real deal.</p><br/>
                <p>PS. I know this was supposed to be a small bio about me, but I hope I haven't bored you to death.</p><br/>
                <p class="lead">
                    <a href="https://www.github.com/brometheuss" class="btn btn-lg btn-secondary">My github link</a>
                </p>
            </div>
            <div class="col-sm-3 col-md-4 myImg">
                <img src="~/lib/common/author.jpg" alt="author uros markov" class="img-fluid" />
            </div>
        </div>
    </div>