@{
    ViewData["Title"] = "Top100Imdb";
}

    <div class="card-deck">
        @foreach (var item in ViewBag.Movies.Items)
        {
            if (item.Rank < 11)
            {
                <div class="row">
                    
                </div>
            }
        }
    </div>
