@model Application.DataTransfer.UpdatePasswordDto
@using WebMVC.Session;
@using Application.DataTransfer

@{
    ViewData["Title"] = "Change your password";
    var user = Context.Session.Get<ShowUserDto>("User");
}

    <div class="container">
        @using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table>
                @Html.Hidden("Id", user.Id)
                <tr class="col-sm-2">
                    <td>
                        @Html.DisplayNameFor(model => model.OldPassword)
                    </td>
                    <td>
                        <input class="form-control" type="password" name="OldPassword" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </td>
                </tr>
                <tr class="col-sm-2">
                    <td>
                        @Html.DisplayNameFor(model => model.NewPassword)
                    </td>
                    <td>
                        <input type="password" class="form-control" name="NewPassword" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </td>
                </tr>
                <tr class="col-sm-2">
                    <td>
                        @Html.DisplayNameFor(model => model.ConfirmNewPassword)
                    </td>
                    <td>
                        <input type="password" class="form-control" name="ConfirmNewPassword" />
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </td>
                </tr>
            </table><hr />
            <button type="submit" class="btn-block btn-lg btn-info">Change password</button>
        }
    </div>

