
@{
    ViewData["Title"] = "ShowReservations";
}


<div class="container">
    <div class="row">
        <h1>@ViewBag.Projection.HallName</h1><br/>
        <h2>Occupancy: @(ViewBag.Projection.HallOccupancy)seats</h2>
        <hr/>
    </div>
</div>